<div class="dv_w dv_h">
    <div class="dv1 dv_w dv_h">
        <div class="div_h1 dv_w">
            <h3 class="h1_n">Добавить отзыв</h3>
        </div>
        <form asp-action="addMessage">
            <div class="div_text_area">
                <textarea name="mes_text" class="text_area" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
</div>