<h2>Модель валидная!</h2> 00
<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "@Url.Action("Index", "Message")";
        }, 1);
    })
</script>