<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Гостевая Книга (Guest Book)</title> 
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/base/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    </head>
    <body>

        <div class="container body-content">
            @RenderBody()
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui-1.12.1.js"> </script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>
</html>
