<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NET Core MVC Application</title> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" /> 
</head>
<body>
    <header>
        <div class="my_nav">
            <a asp-area="" asp-controller="Message" asp-action="Guest" class="active">Гостевая книга</a> 
            <a asp-area="" asp-controller="User" asp-action="Register">Регистрация</a>

            @if (Context.Session.GetString("Login") == null)
            {
                    <a style="float: right;" asp-area="" asp-controller="User" asp-action="Login">Вход</a>
            }
            else
            {
                    <a style="float: right;" asp-area="" asp-controller="Message" asp-action="Logout">Выход</a>
                    <a class="active" style="float: right;">Здравствуйте, @Context.Session.GetString("Login") </a>
            }

        </div> 
    </header>
    <div class="container body-content">
        @RenderBody()

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>