<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Гостевая Книга (Guest Book)</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="my_nav">
            <a id="g1" href="javascript:void(0)" class="active">Гостевая книга</a>
            <a id="g2" href="javascript:void(0)">Регистрация</a>

            <a id="g3" style="float: right;" href="javascript:void(0)">Вход</a>

            <a id="g4" style="float: right;display:none">Выход</a>
            <a id="g5" class="active" style="float: right;display:none" href="javascript:void(0)">  </a>

        </div>

    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>