@model ASP.NET_Core_и_AJAX._Guest_Book.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div>
    <div class="dv1">
        <div class="div_h1">
            <h1 class="h1_n">Вход </h1>
        </div>
        <div>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br>
                <div class="div_com_t">
                    <span class="span_error" asp-validation-for="Login"></span>
                    <div class="div_com_t1">
                        <label asp-for="Login" class="label"></label>
                        <input asp-for="Login" class="input1" />
                    </div>
                </div>

                <div class="div_com_t">
                    <span class="span_error" asp-validation-for="Password"></span>
                    <div class="div_com_t1">
                        <label asp-for="Password" class="label"></label>
                        <input asp-for="Password" class="input1" />
                    </div>
                </div>

                <div class=" div_subm" style="margin-top: 90px;">
                    <input class="input_subm" type="submit" value="Войти" />
                </div>
            </form>
        </div>

    </div>
</div>

@* <h1>Logon</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Logon" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}